
#index{
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "PT Mono", monospace;
  background: #eeeeee;
  .slide-fade-enter-active {
    transition: all .4s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }

  /*轮播图部分*/
  .banner{
    width: 100%;
    .bannerInside{
      width: 100%;
      height: auto;
      position: relative;
      .bannerImg{
        display: block;
        width: 100%;
        height: 202.5px;
      }
      .locationImg{
        display: block;
        position: absolute;
        width: 30%;
        height: 202.5px;
        top: 0;
        right: 0;
      }
    }
    .carousel-3d-container{
      margin: 0;
    }
  }


  .waterfall{
    width: 100%;
    margin-top: 30px;

    .waterfallList{
      width: 50%;
      height: 150px;
      float: left;
      padding: 6px;

      .waterfallListContent{
        width: 99%;
        height: 136px;
        overflow: hidden;
        border-radius: 5px;
        background: #ffffff;
        position: relative;
        font-size: 20px;
        line-height: 136px;
        text-align: center;
        box-shadow: 0 2px 3px rgba(0,0,0,.26);
        text-shadow: 1px 1px 2px #000000;

        div{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          -webkit-filter: blur(5px);
          -moz-filter: blur(5px);
          -o-filter: blur(5px);
          -ms-filter: blur(5px);
          filter: blur(5px);
          z-index: 10;
        }

        h3{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          text-shadow: 1px 1px 5px #000000;
          line-height: 136px;
          z-index: 20;
          color: #ffffff;
        }
      }
    }
    .waterfallList:nth-child(1) .waterfallListContent div{
      background: url('../assets/datalistimg/1.jpg');
    }
    .waterfallList:nth-child(2) .waterfallListContent div{
      background: url('../assets/datalistimg/2.jpg');
    }
    .waterfallList:nth-child(3) .waterfallListContent div{
      background: url('../assets/datalistimg/3.jpg');
    }
    .waterfallList:nth-child(4) .waterfallListContent div{
      background: url('../assets/datalistimg/4.jpg');
    }
    .waterfallList:nth-child(5) .waterfallListContent div{
      background: url('../assets/datalistimg/5.jpg');
    }
    .waterfallList:nth-child(6) .waterfallListContent div{
      background: url('../assets/datalistimg/6.jpg');
    }
    .waterfallList:nth-child(7) .waterfallListContent div{
      background: url('../assets/datalistimg/7.jpg');
    }
    .waterfallList:nth-child(8) .waterfallListContent div{
      background: url('../assets/datalistimg/8.jpg');
    }
    .waterfallList:nth-child(9) .waterfallListContent div{
      background: url('../assets/datalistimg/9.jpg');
    }
    .waterfallList:nth-child(10) .waterfallListContent div{
      background: url('../assets/datalistimg/10.jpg');
    }
    .waterfallList:nth-child(11) .waterfallListContent div{
      background: url('../assets/datalistimg/1.jpg');
    }
    .waterfallList:nth-child(12) .waterfallListContent div{
      background: url('../assets/datalistimg/2.jpg');
    }
    .waterfallList:nth-child(13) .waterfallListContent div{
      background: url('../assets/datalistimg/3.jpg');
    }
    .waterfallList:nth-child(14) .waterfallListContent div{
      background: url('../assets/datalistimg/4.jpg');
    }
    .waterfallList:nth-child(15) .waterfallListContent div{
      background: url('../assets/datalistimg/5.jpg');
    }
    .waterfallList:nth-child(16) .waterfallListContent div{
      background: url('../assets/datalistimg/6.jpg');
    }
    .waterfallList:nth-child(17) .waterfallListContent div{
      background: url('../assets/datalistimg/7.jpg');
    }
    .waterfallList:nth-child(18) .waterfallListContent div{
      background: url('../assets/datalistimg/8.jpg');
    }
    .waterfallList:nth-child(19) .waterfallListContent div{
      background: url('../assets/datalistimg/9.jpg');
    }
    .waterfallList:nth-child(20) .waterfallListContent div{
      background: url('../assets/datalistimg/10.jpg');
    }
    .waterfallList:nth-child(21) .waterfallListContent div{
      background: url('../assets/datalistimg/1.jpg');
    }
    .waterfallList:nth-child(22) .waterfallListContent div{
      background: url('../assets/datalistimg/2.jpg');
    }
    .waterfallList:nth-child(23) .waterfallListContent div{
      background: url('../assets/datalistimg/3.jpg');
    }
    .waterfallList:nth-child(24) .waterfallListContent div{
      background: url('../assets/datalistimg/4.jpg');
    }
    .waterfallList:nth-child(25) .waterfallListContent div{
      background: url('../assets/datalistimg/5.jpg');
    }
    .waterfallList:nth-child(26) .waterfallListContent div{
      background: url('../assets/datalistimg/6.jpg');
    }
    .waterfallList:nth-child(27) .waterfallListContent div{
      background: url('../assets/datalistimg/7.jpg');
    }
    .waterfallList:nth-child(28) .waterfallListContent div{
      background: url('../assets/datalistimg/8.jpg');
    }
    .waterfallList:nth-child(29) .waterfallListContent div{
      background: url('../assets/datalistimg/9.jpg');
    }
    .waterfallList:nth-child(30) .waterfallListContent div{
      background: url('../assets/datalistimg/10.jpg');
    }
  }

}
